{% include 'base.html.twig' %}

    {% block body %}

    <div class="container">
    <h1>historique d'ajoute de stock</h1><br><br>
        <table class="table">
            <tr>
                <th>id</th>
                <th>Quantité</th>
                <th>date de l'ajoute</th>
            </tr>
            {% for productAdded in productsAdded %}
                <tr>
                    <td>{{ productAdded.id }}</td>
                    <td>{{ productAdded.qty }}</td>
                    <td>{{ productAdded.createdAt|date }}</td>
                </tr>
                
            {% endfor %}
        </table>
    </div>

{% endblock %}