{% include 'base.html.twig' %}


{% block body %}

<div class="container">

    <h1>ajouter le stock pour : {{product.name}} </h1><br><br>
    {% include 'layouts/_flash_message.html.twig' %}
    {{form_start(form)}}
    <label for="">ajouter du stock</label><br>
    {{form_widget(form.qty,{'attr':{"class" :"form form-control"}}) }}<br><br>
    <input type="submit" class="btn-success btn btn-block">
    {{form_end(form)}}

</div>

{% endblock %}